<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/range.css">
	<title>>Wirebot Claw control</title>
</head>
<body>    <script>

var claw_url = "";

function post(url) {
	var xhr = new XMLHttpRequest();
	xhr.open("POST", url, true);

	//Send the proper header information along with the request
	xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

	xhr.send();
}


function moveClaw(pos){
	var xhr = new XMLHttpRequest();
	xhr.open("POST", claw_url + "/claw/"+pos, true);
	xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhr.send();
}

var servoPos=90;
function updateServo() {
	servoPos = document.getElementById("clawPos").value;
	document.getElementById("clawDisplay").innerHTML="Claw pos = "+servoPos;
}

</script>

<style>
div {font-size: 32px;text-align:center;}
div.motor-console {text-align:center; width:45%; position: relative; float:left; border-style:solid; border-width:1px;}
div.button {font-size: 32px; background-color: lightgray; }
span.button {font-size: 32px; background-color: lightgray; }
div.button-grid {text-align:center; width:90%; font-size: 32px; background-color: lightgray; }
</style>

<H1>Wirebot Claw control</H1>
<div>
	<div class='motor-console'>
		<h2>CLAW</h2>
		<div class='button' onClick='post("/claw/go_open")'>OPEN</div>
		&nbsp;
		<div class='button' onClick='post("/claw/go_closed")'>CLOSE</div>


		<span class='motor-console'>
			<div class="display-big" id="clawDisplay">Claw pos = 90</div>
			<div><input id="clawPos" type="range" onmousemove="updateServo()" ontouchmove="updateServo()" max="180"/></div>
			<div><span class="button" onClick='post("/claw/"+servoPos)'>TEST</span></div>
			<div class="button" onClick='post("/claw/set_open/"+servoPos)'>SET OPEN POS</div>
			<div class="button" onClick='post("/claw/set_closed/"+servoPos)'>SET CLOSED POS</div>

		</span>
	</div>
</div>

