<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/range.css">
	<title>Wirebot control</title>
</head>
<body>

    <script>

var claw_url = "http://claw.fae.bot:5001"
//var claw_url = "http://0.0.0.0:5001"

var forcerefresh = 0;
function refresh_image() {
  document.getElementById("camera").src="http://192.168.44.2:5001/camera?refresh="+forcerefresh;
  forcerefresh=forcerefresh+1;
}

function post(url) {
	var xhr = new XMLHttpRequest();
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhr.send("stepsize="+stepSizeValue+"&speed="+speedValue);
}

function postsimple(url) {
	var xhr = new XMLHttpRequest();
	xhr.open("POST", url, true);
	xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhr.send();
}

function moveClaw(pos){
	var xhr = new XMLHttpRequest();
	xhr.open("POST", claw_url + "/claw/"+pos, true);
	xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhr.send();
}

function set_target(i) {
	var xhr = new XMLHttpRequest();
	xhr.onreadystatechange = function() {
		if (xhr.readyState === 4) {
		  document.getElementById("targetPos"+i).innerHTML=xhr.response;
		}
	  }
	xhr.open("POST", "/set_target/"+i, true);
	xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhr.send("stepsize="+stepSizeValue+"&speed="+speedValue);

}

var stepSizeValue;
var speedValue;
function updateValue() {
	var multiplierStepSize = 50;
	var multiplierSpeed = 5;
	var thresholdSpeed = 5;

	sliderSize = document.getElementById('stepSize');
	labelSize = document.getElementById('stepSizeDisplay');
	sliderSpeed = document.getElementById('speed');
	labelSpeed = document.getElementById('speedDisplay');
	stepSizeValue = sliderSize.value*multiplierStepSize;
	speedValue = sliderSpeed.value;
	if(speedValue > 100){
		speedValue = 100 + (speedValue-100) * multiplierSpeed;
	}

	labelSize.innerHTML = 'Step size = '+stepSizeValue;
	labelSpeed.innerHTML = 'Speed = '+speedValue;
}

function updateDebugPos(){
	var xhr = new XMLHttpRequest();

	xhr.onreadystatechange = function() {
		if (xhr.readyState === 4) {
		  document.getElementById("debugPos").innerHTML=xhr.response;
		}
	  }

    xhr.open("GET", "/position", true);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhr.send("");
}

var servoPos=90;
function updateServo() {
	servoPos = document.getElementById("clawPos").value;
	document.getElementById("clawDisplay").innerHTML="Claw pos = "+servoPos;
}

var servoPos=90;
function updateServo() {
	servoPos = document.getElementById("clawPos").value;
	document.getElementById("clawDisplay").innerHTML="Claw pos = "+servoPos;
}

var targets;
function updateTargets() {
	var xhr = new XMLHttpRequest();

	xhr.onreadystatechange = function() {
		if (xhr.readyState === 4) {
		  targets = JSON.parse(xhr.response)
		  for(var i=0;i<10;i++){
		    document.getElementById("targetPos"+i).innerHTML=targets[""+i];
	      }
		}
	  }

    xhr.open("GET", "/targets", true);
    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhr.send("");
}

window.onload = function(){ updateValue(); updateServo; updateTargets(); updateDebugPos()};
</script>

<style>
div {font-size: 32px;text-align:center;}
div.motor-console {text-align:center; width:45%; position: relative; float:left; border-style:solid; border-width:1px;margin:2px;}
span.motor-console {text-align:center; width:99%; position: relative; float:left; border-style:solid; border-width:1px; margin:2px;}
.button {font-size: 32px; background-color: #aaffaa; text-align:center;}
.button-dark {font-size: 32px; background-color: #55ff55; text-align:center;}
.button-light {font-size: 32px; background-color: #aaffaa; text-align:center;}
.button-gray {font-size: 32px; background-color: lightgray; text-align:center;}
div.button-grid { width:90%; font-size: 32px; background-color: #aaffaa; }
.button-stop { font-size: 32px; background-color: #ff8888; }
.debug {font-size:12px;}

</style>

<div class="display-big" id="stepSizeDisplay">Step size = 150</div>
<div><input id="stepSize" type="range" onmousemove="updateValue()" ontouchmove="updateValue()" max="300"/></div>
<div class="display-big" id="speedDisplay">Speed = 300</div>
<div><input id="speed" type="range" onmousemove="updateValue()" ontouchmove="updateValue()" min="1" max="200" value="140"/></div>


<table width=100%>
	<tr>
		<td><div onClick='post("direction/nw")' class='button-dark'>&#8662;</div></td>
		<td><div onClick='post("direction/n")' class='button-light'>&#x21D1;</div></td>
		<td><div onClick='post("direction/ne")' class='button-dark'>&#x21D7;</div></td>
		<td><div onClick='post("direction/up")' class='button-light'>UP</div></td>
	</tr>
	<tr>
		<td><div onClick='post("direction/w")' class='button-light'>&#x21D0;</div></td>
		<td><div onClick='post("stop")' class='button-stop'>X</div></td>
		<td><div onClick='post("direction/e")' class='button-light'>&#x21D2;</div></td>
		<td><div class="debug" id="debugPos">-</div></td>
	</tr>
	<tr>
		<td><div onClick='post("direction/sw")' class='button-dark'>&#x21D9;</div></td>
		<td><div onClick='post("direction/s")' class='button-light'>&#x21D3;</div></td>
		<td><div onClick='post("direction/se")' class='button-dark'>&#x21D8;</div></td>
		<td><div onClick='post("direction/down")' class='button-dark'>DOWN</div></td>
	</tr>
</table>
<div>
	<span class='motor-console'>
		CLAW:
		<span class='button-dark' onClick='postsimple(claw_url+"/claw/go_open")'>OPEN</span>
		&nbsp;
		<span class='button-light' onClick='postsimple(claw_url+"/claw/go_closed")'>CLOSE</span>
	</span>
</div>
<br/>

<div class=''>
	TARGETS
	<table style="max-width:500px; width:100%">
		{% for i in range(0,10) %}
			<tr>
				<td class='button-gray' onClick='set_target({{i}})'>SET</td>
				<td>{{i}}</td>
				<td class='button-dark' onClick='post("/go_target/{{i}}")'>GO</td>
				<td><div class="debug" id="targetPos{{i}}"></div></td>
			</tr>
		{% endfor %}
	</table>
</div>
<div><label><input type="checkbox" id="debugCheckBox"
				   onclick="
				   if(checked){
				   	 value = setInterval(updateDebugPos, document.getElementById('debugInterval').value);
				   	 }
				   else{
				     clearInterval(value);
				     }">
	Debug</label> | Interval:<input type="text" id="debugInterval" value="1000"></div>
<!-- <img src="/camera" onClick="refresh_image()" id="camera" > -->
<!--		<span class='motor-console'>
			<div class="display-big" id="clawDisplay">Claw pos = 90</div>
			<div><input id="clawPos" type="range" onmousemove="updateServo()" ontouchmove="updateServo()" max="180"/></div>
			<div><span class="button" onClick='postsimple(claw_url+"/claw/"+servoPos)'>TEST</span></div>
			<div class="button" onClick='postsimple(claw_url+"/claw/set_open/"+servoPos)'>SET OPEN POS</div>
			<div class="button" onClick='postsimple(claw_url+"/claw/set_closed/"+servoPos)'>SET CLOSED POS</div>

		</span> -->


	<div onClick='post("stop")' class='button-stop' width="100%">STOP</div>

<div>
	{% for i in (3,4,1,2) %}
	<div class='motor-console'>
		MOTOR {{i}}
		<div class='button-dark' onClick='post("/motors/{{i}}/roll")'>ROLL</div>
		<div class='button-light' onClick='post("/motors/{{i}}/unroll")'>UNROLL</div>
	</div>
	{% endfor %}
</div>

</body>
