<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/static/range.css">
	<title>Wirebot control</title>
</head>
<body>

    <script>

var forcerefresh = 0;
function refresh_image() {
  document.getElementById("camera").src="/camera?refresh="+forcerefresh;
  forcerefresh=forcerefresh+1;
}

function post(url) {
	var xhr = new XMLHttpRequest();
	xhr.open("POST", url, true);

	//Send the proper header information along with the request
	xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

	xhr.send("stepsize="+stepSizeValue+"&speed="+speedValue);
}

var stepSizeValue = 0;
var speedValue = 0;
function updateValue() {
	var multiplierStepSize = 50;
	var multiplierSpeed = 5;
	var thresholdSpeed = 5;

	sliderSize = document.getElementById('stepSize');
	labelSize = document.getElementById('stepSizeDisplay');
	sliderSpeed = document.getElementById('speed');
	labelSpeed = document.getElementById('speedDisplay');
	stepSizeValue = sliderSize.value*multiplierStepSize;
	speedValue = sliderSpeed.value;
	if(speedValue > 100){
		speedValue = 100 + (speedValue-100) * multiplierSpeed;
	}

	labelSize.innerHTML = 'Step size = '+stepSizeValue;
	labelSpeed.innerHTML = 'Speed = '+speedValue;
}
window.onLoad =updateValue;
</script>

<style>
div {font-size: 32px;text-align:center;}
div.motor-console {text-align:center; width:45%; position: relative; float:left; border-style:solid; border-width:1px;margin:2px;}
span.motor-console {text-align:center; width:99%; position: relative; float:left; border-style:solid; border-width:1px; margin:2px;}
.button {font-size: 32px; background-color: lightgray; text-align:center;}
div.button-grid { width:90%; font-size: 32px; background-color: lightgray; }


</style>

<div class="display-big" id="stepSizeDisplay">Step size = 150</div>
<div><input id="stepSize" type="range" onmousemove="updateValue()"/></div>
<div class="display-big" id="speedDisplay">Speed = 100</div>
<div><input id="speed" type="range" onmousemove="updateValue()" max="200"/></div>
<div>
	{% for i in (3,4,1,2) %}
	<div class='motor-console'>
		MOTOR {{i}}
		<div class='button' onClick='post("/motors/{{i}}/roll")'>ROLL</div>
		<div class='button' onClick='post("/motors/{{i}}/unroll")'>UNROLL</div>
	</div>
	{% endfor %}
</div>


<table width=100%>
	<tr>
		<td><div onClick='post("direction/nw")' class='button-grid'>&#8662;</div></td>
		<td><div onClick='post("direction/n")' class='button-grid'>&#x21D1;</div></td>
		<td><div onClick='post("direction/ne")' class='button-grid'>&#x21D7;</div></td>
		<td><div onClick='post("direction/up")' class='button-grid'>UP</div></td>
	</tr>
	<tr>
		<td><div onClick='post("direction/w")' class='button-grid'>&#x21D0;</div></td>
		<td><div onClick='post("stop")' class='button-grid'>X</div></td>
		<td><div onClick='post("direction/e")' class='button-grid'>&#x21D2;</div></td>
	</tr>
	<tr>
		<td><div onClick='post("direction/sw")' class='button-grid'>&#x21D9;</div></td>
		<td><div onClick='post("direction/s")' class='button-grid'>&#x21D3;</div></td>
		<td><div onClick='post("direction/se")' class='button-grid'>&#x21D8;</div></td>
		<td><div onClick='post("direction/down")' class='button-grid'>DOWN</div></td>
	</tr>
</table>
<div>
	<span class='motor-console'>
		CLAW:
		<span class='button' onClick='post("http://192.168.44.2:5001/claw/10")'>OPEN</span>
		&nbsp;
		<span class='button' onClick='post("http://192.168.44.2:5001/claw/65")'>CLOSE</span>
	</span>
</div>
<br/>

<div class=''>
	TARGETS
	<table style="max-width:500px; width:100%">
		{% for i in range(1,10) %}
			<tr>
				<td class='button' onClick='post("/set_target/{{i}}")'>SET</td>
				<td>{{i}}</td>
				<td class='button' onClick='post("/go_target/{{i}}")'>GO</td>
			</tr>
		{% endfor %}
	</table>
</div>
<!-- <img src="/camera" onClick="refresh_image()" id="camera" > -->
</body>